.home {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../media/images/workday.jpeg") center center/cover no-repeat;

height: 100vh;
text-align: center;
color: $text-color-white;
display: flex;
flex-direction: column;
justify-content: center;
}
.welcome {
font-size: 1.5rem;
}
.based{
	color: $text-color-Lgray;
}	
.hireMe{
	color: $accent-color-green;
	border: 2px solid $accent-color-green;
}