nav{
	background-color: $bg-color-nav-footer;
	height: 100vh;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: $text-color-white;
	text-align: center;
	font-size: 1.2rem;
	float: left;
	position: fixed;
}
.nav-img {
	width: 60%;
	margin-top: 30px;
	box-shadow: 10 10 30px #FF0000;
	animation: wave 20s ease-in-out infinite;

}
.nav-name{
	letter-spacing: 0.15rem;
}
nav ul li {
	margin-bottom: 15px;
}
.nav-social {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.nav-toggle{
	display: none;
}
.not-visible{
	display: none;
}

@keyframes wave {
	0% {
			border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
	}
	25% {
			border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
	}
	50% {
			border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
	}
	75% {
			border-radius: 40% 60% 30% 70%/60% 30% 70% 40%;
	}
	100% {
			border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	}
}
	
@media screen and (max-width: 414px) {
		.nav-toggle{
			display: block;
			float: left;
				margin-left: 20%;
				position: absolute;
		}
		.nav{
			display: none;
		}
		
	}
		
	
