.portfolio {
	background: $bg-color-light;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $text-color-white;
}
.projects {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 180px;
}
.project {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 20px;
	width: 100%;
	margin-bottom: 80px;
}
.project-name{
	margin-bottom: 30px;
	text-align: center;
}

.project-img {
	width: 400px;
	height: 300px;
	border-radius: 10px;
	background-color: rgb(135, 124, 124);
}
.project-info{
 max-width: 300px;
 
}
.project-links {
	display: flex;
	justify-content: space-around;
}

.reverse {
 flex-direction: row-reverse;		
}

@media screen and (max-width: 420px) {
	.project {
		flex-direction: column;
	}
	.project-img {
		width: 90%;
	}
	.project-name{
		margin-top: 20px;
	}
}