// Shared
.page {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	min-height: 100vh;
}
.section {
	width: 80%;
	float: right;
}


// Headings

.h2-bg{
	font-weight: 900;
	font-size: 7rem;
	color: $text-color-Dgray;
	position: absolute;
}
h2{
	color: $text-color-white;
	margin-top: 65px;
	position: absolute;
	border-bottom: 2px solid $accent-color-green;
}

// Buttons
.button {
	margin-top: 10px;
	display: inline-block;
	border-radius: 20px;
	padding: 5px 20px;
	text-decoration: none;
	min-width: 65px;
	text-align: center;
}
.hireMe {
	color: $accent-color-green;
	border: 2px solid $accent-color-green;
	
	
}
.hireMe:hover{
	animation: buttonHover 0.3s forwards;
}
.buttonFill{
	margin-top: 20px;
	color: $text-color-white;
	background-color: $accent-color-green;
	border: 2px solid $accent-color-green;
	align-self: center;
}
.buttonFill:hover{
	animation: buttonHover 0.3s forwards;
}

.accent {
	color: $accent-color-green;
}

// ANIMATION
@keyframes buttonHover {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 0px 10px 0px $accent-color-green;
	}
}
// Media Queries
@media screen and (max-width: 420px) {
.h2-bg{
	font-size: 3rem;
	overflow: hidden;
}
h2{
	margin-top: 40px;
}
	


}
	
