// Colors 

$bg-color-dark: linear-gradient(173deg, rgba(86, 86, 125, 1) 0%, rgba(2, 0, 36, 1) 67%, rgba(4, 7, 8, 1) 85%);
$bg-color-light: linear-gradient(343deg, rgba(86, 86, 125, 1) 0%, rgba(2, 0, 36, 1) 67%, rgba(4, 7, 8, 1) 85%);
$bg-color-gradient1:linear-gradient(343-180deg, rgba(86, 86, 125, 1) 0%, rgba(2, 0, 36, 1) 67%, rgba(4, 7, 8, 1) 85%);
$bg-color-nav: linear-gradient(83+90deg, rgba(86, 86, 125, 1) 0%, rgba(2, 0, 36, 1) 67%, rgba(4, 7, 8, 1) 85%);
$bg-color-footer: linear-gradient(83+90deg, rgba(86, 86, 125, 1) 0%, rgba(2, 0, 36, 1) 67%, rgba(4, 7, 8, 1) 85%);


$text-color-white: #fff;
$text-color-Dgray: #200b33;
$text-color-Lgray: #999999;

$accent-color-green: #28A745;

// Fonts
$font-1: 'Poppins', sans-serif;

// background: rgb(86, 86, 125);
// background: 