// Colors 
$bg-color-nav-footer: #121417;
$bg-color-dark: #13161A;
$bg-color-light: #2F3337;

$text-color-white: #fff;
$text-color-Dgray: #1C2024;
$text-color-Lgray: #999999;

$accent-color-green: #28A745;

// Fonts
$font-1: 'Poppins', sans-serif;

