// Imports
@import "./partials/variables.scss";
@import "./partials/nav.scss";
@import "./partials/shared.scss";
@import "./partials/home.scss";
@import "./partials/about.scss";
@import "./partials/portfolio.scss";
@import "./partials/animations.scss";
@import "./partials/contact.scss";
@import "./partials/footer.scss";

// Global styles
*{
	margin: 0;
	padding: 0;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1;
	/* Firefox */
}





